
*{
    margin: 0px;
    padding:0px;
    box-sizing: border-box;
}
@font-face {
    font-family: "tachyons";
    src: url(../font/Tachyon\ W00\ Regular.ttf);
}
@font-face {
    font-family: "gilroy";
    src: url(../font/Gilroy-Regular.ttf);
}
 :root{
 --text-xs:14px;
 --text-sm:16px;
 --text-base:20px;
 --text-lg:25px;
 --text-xl:49px;

 /* FONT-WEIGHTS  */

 --fw-300:300;
 --fw-400:400;
 --fw-700:700;

 /* ROOT-COLORS  */

 --white:#fff;
 --black_color:#000;
 --copy_color: #b2b2b2;


 }

 .text-xs{
     font-size: var(--text-xs);
 }
 .text-sm{
     font-size: var(--text-sm);
 }
 .text-base{
     font-size: var(--text-base);
 }
 
 .text-lg{
     font-size: var(--text-lg);
 }
 .text-xl{
     font-size: var(--text-xl);
 }

.fw-300{font-weight:var(--fw-300)}
.fw-400{font-weight:var(--fw-400)}
.fw-700{font-weight:var(--fw-700)}


/* font-Colors */

.white{
    color: var(--white);
}
.black_color{
    color: var(--black_color);
}
.copy_color{
    color: var(--copy_color);
}
/* HOME-SECTION */
.home_section{
    min-height: 100vh;
    background-image: url(../image/png/InfinityPortal_Logo_Environment_1.png);
    background-position: center;
    background-size: cover;
}
.connect-btn{
    clip-path: polygon(100% 0%, 100% 56%, 88% 100%, 0% 100%, 0% 50%, 15% 0%);
background: linear-gradient(180deg, #00D3FF 8.92%, #3066BE 87%);;
}
/* HOME-SECTION-ENDS */