* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --text-xs: 14px;
    --text-sm: 16px;
    --text-base: 20px;
    --text-lg: 25px;
    --text-xl: 49px;
    /* FONT-WEIGHTS  */
    --fw-300: 300;
    --fw-400: 400;
    --fw-700: 700;
    /* ROOT-COLORS  */
    --white: #fff;
    --black_color: #000;
    --copy_color: #B2B2B2;
}

.text-xs {
    font-size: var(--text-xs);
}

.text-sm {
    font-size: var(--text-sm);
}

.text-base {
    font-size: var(--text-base);
}

.text-lg {
    font-size: var(--text-lg);
}

.text-xl {
    font-size: var(--text-xl);
}

.fw-300 {
    font-weight: var(--fw-300)
}

.fw-400 {
    font-weight: var(--fw-400)
}

.fw-700 {
    font-weight: var(--fw-700)
}

/* font-Colors */
.white {
    color: var(--white);
}

.black_color {
    color: var(--black_color);
}

.copy_color {
    color: var(--copy_color);
}

/* TEAM=========SECTION=========CSS */
.team_section {
    background-image: url(../image/png/bg-team.png);
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 897px;
}

.bg-team-img {
    background: rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(18.2094px);
    border-radius: 16.1251px;

}

.wright-para {
    bottom: 50px;
}

.clip-path {
    clip-path: polygon(0px 11%, 100% 0%, 100% 100%, 0% 95%);
}

.clip-path-second {
    clip-path: polygon(0 0, 100% 12%, 100% 95%, 0 100%);
}

/* foter=========SECTION=========CSS */

.discord-img {
    width: 50px;
    height: 40px;
}

.copyright {
    border-top: 1px solid #505050;
}

span:hover .discord-img {
    transform: scale(1.1);
    transition: 0.4s;
}

.cursor {
    cursor: pointer;
}

.foter {
    margin-top: -1px;
}

@media(min-width:1500px) {
    .team_section {
        min-height: 1160px;
    }
}

@media(max-width:992px) and (min-width:768px) {
    .bg-team-img {
        margin-left: -14px;
    }

    .ipad-img {
        margin-left: -45px;
    }

}